/*ניווט סרגל 
*/
body {
    width: 1720px;
    margin: 0 auto;
    direction: rtl;
    background-color: #FAE2E2;
    font-family: Calibri;
    font-size: 14pt;
}

.background {
    background-color: #E5C8C8;
    height: 60px;
    width: auto;
}

.notActive {
    cursor: not-allowed;
    color: lightslategray;
}
.active {
    color: #8E576B;
}
#container1{
    margin: 0 auto;
    width: 960px;   
}

header {
    display: block;
}
#logo {
    width: 130px;
    height: 50px;
    float: right;
    background-repeat: no-repeat;
    padding: 0px;
}
#mainNav, #footerNav{
    position: relative;
    right: 50px;
}
nav ul {
    list-style: none;
}
#mainNav > ul > li:nth-child(1) {
    margin-right: 80px;
}
#mainNav > ul > li, #footerNav > ul > li {
    float: right;
}
    #mainNav > ul > li > a, #footerNav  {
        font-size: 16pt;
        text-align: center;
        margin-left: 30px;
    }
    #mainNav ul li a{
        text-decoration:none;
    }
    #mainNav ul li a, #footerNav ul li a {
        display: block;
        height: 20px;
        padding: 10px;
        font-family: Assistant;
    }
#mainNav > ul > li ul {
    display: none;
    position: absolute;
    background-color: #FFEEEE;
    border: 1px solid #8E576B;
}
#mainNav ul li:hover ul{
    display:block;
}
#mainNav ul li ul li:hover a {
    background-color: #F9AECC;
}
#mainNav ul li ul li:active a {
    text-decoration:underline;
}



/*פתיח*/

#intro{
    background-color:white;
    height:250px;
    width:auto;
}

#girls {
    float: left;
    height: 200px;
    width: auto;
    background-color: white;
    margin-left:150px;
    padding-top:25px;
}

h1 {
    padding-right: 150px;
    padding-top:30px;
}

#melel1 {
    padding-right: 150px;
    width: 250px;
    float:right;
    font-size:16pt;
}


/*העמודים שלנו*/


#icons {
    background-color: #FCF8F8;
    height:480px
}


h2{
    margin-right:150px;
}

#piriod {
    height: 150px;
    width: 150px;
    margin-right: 150px;
    margin-left: 10px;
    margin-top: 10px;
}

#tips {
    height: 150px;
    width: 150px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

#dictionary {
    height: 150px;
    width: 150px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

#questions {
    height: 150px;
    width: 150px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

#pad {
    height: 150px;
    width: 150px;
    margin-right: 150px;
    margin-left: 10px;
    margin-top: 20px;
}

#shaving {
    height: 150px;
    width: 150px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
}

#bra {
    height: 150px;
    width: 150px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 70px;
}

#parents {
    height: 150px;
    width: 150px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
}

.pages {
    height: 150px;
    width: 150px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

span {
    position: absolute;
    margin-top: 160px;
    margin-right: 30px;
    font-size: 14pt;
}

#firstSpan {
    margin-top: 160px;
    margin-right: 190px;
}


#secondSpan {
    margin-top: 160px;
    margin-right: 63px;
}

#thirdSpan {
    margin-top: 160px;
    margin-right: 40px;
}

#forthSpan {
    margin-top: 160px;
    margin-right: 36px;
}

#fifthSpan {
    margin-top: 220px;
    margin-right: 160px;
}

#sixthSpan {
    margin-top: 220px;
    margin-right: 45px;
}

#seventhSpan {
    margin-top: 220px;
    margin-right: 44px;
}

#eighthSpan {
    margin-top: 220px;
    margin-right: 25px;
}


/*פרסונות*/

#characters{
    background-color:white;
}

    #characters > p {
        background-color: #FFEFE6;
        height: 170px;
        width: 250px; 
        display:inline-block;
        margin-right:50px;
        padding-top: 80px;
        padding-right:5px;
        font-size:16pt;
    }

.person {
    margin-right: 30px;
    height: 95px;
    width: 95px;
    margin-bottom: 250px;
    position: absolute;
}

.buttons {
    margin-top: 250px;
    margin-right: 140px;
    font-size: 16pt;
    background-color: #8DB9F2;
    height: 35px;
    width: 85px;
    text-decoration: none;
    border-radius: 10px;
}


/*פוטר*/
#footerNav nav li a {
    display: inline-block;
    float: right;
    text-decoration: underline;
}
#footerNav > ul > li:nth-child(1){
    margin-right:250px;
}










    